:root {
    --sidebar-opacity: 1;
}

.sbo_10 {
    background: #18283c !important;
}

div#trsd-on span#trsd-st {
    margin: 3px 0px 0px 4px;
    transition: 0.4s margin;
    filter: saturate(1);
}
div#trsd-off span#trsd-st {
    margin: 3px 0px 0px 4px;
    transition: 0.4s margin;
    filter: saturate(1);
}

div#trsd-off {display: none;}
div#trsd-on {display: inherit;}