<div id="dashboard" class="content">
    <div class="content-header">
        <h1>Welcome back, <span id="username"><i class="fa-duotone fa-spinner-third fa-spin"></i></span></h1>
    </div>
    <h2>At a Glance - Your Servers</h2>
    <div class="glance-servers">
        <webview id="glance-servers" src="https://panel.falixnodes.net" autosize="on"></webview>
    </div>
    <br>
    <h2>Featured Servers</h2>
    <div add-component="../temp/servers.html"></div>
    <br>
    <h2>What's New</h2>
    <p>There nothing to display.</p>
    <br>
    <h2>Latest Blog Posts</h2>
    <p>There nothing to display.</p>
    <br>
</div>