<!-- <mc id="onboarding">
    <mcfooter>
        <p>Not affiliated with Mojang Studios</p>
    </mcfooter>
</mc> -->
<mc id="game">
    <mccontent>
        <div id="m-2c">
            <div class="mc-player">
                <img src="https://minotar.net/armor/body/MrKorbs/190.png">
                <h1><span id="username"><i class="fa-duotone fa-spinner-third fa-spin"></i></span></h1>
            </div>
            <div class="s-v-version">
                <h2>Selected Version</h2>
                <h1>1.18.2</h1>
            </div>
        </div>
    </mccontent>
    <mcfooter>
        <p>Not affiliated with Mojang Studios</p>
        <button id="launch-game">Launch</button>
    </mcfooter>
</mc>