<notification onclick="notificationUpdateTriggerDISMISS()" id="dismiss"></notification>
<notification id="large">
    <div class="notification-header-update">
        <img src="./assets/images/icons/app/256x256.png">
        <div>
            <h1>FalixNodes Desktop</h1>
            <h2>v3.7.0 Update Released</h2>
        </div>
        <div>
            <button>Update Now</button>
        </div>
    </div>
    <div class="notification-content">
        <img id="thumbnail" src="https://falixnodes.net/assets/images/posts/thumbnails/falixnodes-desktop-370.webp">
        <h2 id="-auto-sign-in"><i class="fa-light fa-arrow-right-to-bracket"></i> Auto Sign-In</h2>
        <p>You can have the Client Area area, as well as the Account tab in Settings, sign you in effortlessly when you launch the application. This should free you more time for you to manage your servers, coins, and account. This has been configured for social logins only, thus using an email and password to sign will not be supported. If we introduce new social logins in the future, they will also be supported in updates.</p>
        <p>To enable auto-login, navigate to the Advanced tab within Settings. Then, for either Discord or Google, enable auto-login. To avoid any unexpected conflicts, only one option can be enabled.</p>
        <h2 id="-improvements-for-macos"><i class="fa-brands fa-apple"></i> Improvements for macOS</h2>
        <p>The app name has always been shown in the menubar as “falixnodes,” however this has finally been corrected to say “FalixNodes Desktop” when you run the app. In addition, macOS will have an updated icon that should generally match the new icon style Apple unveiled in 2020 for <a href="https://www.apple.com/newsroom/2020/11/macos-big-sur-is-here/">macOS Big Sur</a>.</p>
        <h2 id="-menubar"><i class="fa-light fa-list-dropdown"></i> Menubar</h2>
        <p>The menubar has been updated and has been accessible on macOS and Linux. This menubar is now accessible to Windows users by clicking the ‘ <i class="fa-light fa-bars"></i> ‘ icon in the top right corner. Extra links and options have been added to the ‘Help’ sub-menu. Along with it, extra information has been re-added to the ‘File’ sub-menu.</p>
        <h2 id="-dialogs"><i class="fa-light fa-window-flip"></i> Dialogs</h2>
        <p>Each dialog window’s design has been updated. Along with it, a new dialog, a bug report form, has been added. By selecting ‘Report Bug’ from the ‘Help’ sub-menu, you can access the new bug report form.</p>
        <h2 id="-logs"><i class="fa-light fa-memo-circle-info"></i> Logs</h2>
        <p>Local logs are now saved to the <code class="language-plaintext highlighter-rouge">/tmp</code> folder of the operating system. This is to help with debugging for future support cases. The latest log can be acccessed from the ‘Help’ sub-menu, then clicking ‘Open Log’ under ‘Troubleshooting’.</p>
        <h2 id="-other-changes"><i class="fa-light fa-draw-polygon"></i> Other Changes</h2>
        <p>Some improvements have also been done. The loading indicator will now be in the proper placement for the correct tab, <a href="https://falixnodes.net/blog/falixnodes-desktop-3.5.0-released/#:~:text=the%20tab%20controls%20were%20positioned%20too%20high%20and%20were%20not%20aligned%20properly%20with%20the%20active%20tab.">as we did with the controls in the previous update</a>.</p>        
    </div>
</notification>