<sidebar>
    <div class="primary-sidebar">
        <div class="sidebar-header">
            <img src="./base/img/icon/app/32x32.png">
            <div id="default" class="sidebar-header-controls">
                <button onclick="ninja.open()" class="sidebar-tab"><i class="fa-light fa-command"></i></button>
                <button onclick='document.querySelector("body > div:nth-child(3) > sidebar > div > div.sidebar-bottom > button:nth-child(2)").click(); document.querySelector("#settings > div:nth-child(1) > div > div.modal-sidebar-top > div:nth-child(2)").click(); ' class="sidebar-tab"><i class="fa-light fa-circle-user"></i></button>
            </div>
            <div style="display: none;" id="master-control-client-area" class="sidebar-header-controls">
                <button onclick="rootCP()" class="sidebar-tab"><i class="fa-light fa-user-crown"></i></button>
                <button onclick="reloadCP()" class="sidebar-tab"><i class="fa-light fa-arrow-rotate-right"></i></button>
                <button onclick="backCP()" class="sidebar-tab"><i class="fa-light fa-arrow-left-long"></i></button>
                <button onclick="forwardCP()" class="sidebar-tab"><i class="fa-light fa-arrow-right-long"></i></button>
            </div>
            <div style="display: none;" id="master-control-servers-panel" class="sidebar-header-controls">
                <button onclick="rootGP()" class="sidebar-tab"><i class="fa-light fa-server"></i></button>
                <button onclick="reloadGP()" class="sidebar-tab"><i class="fa-light fa-arrow-rotate-right"></i></button>
                <button onclick="backGP()" class="sidebar-tab"><i class="fa-light fa-arrow-left-long"></i></button>
                <button onclick="forwardGP()" class="sidebar-tab"><i class="fa-light fa-arrow-right-long"></i></button>
            </div>
            <div style="display: none;" id="master-control-forums" class="sidebar-header-controls">
                <button onclick="rootFC()" class="sidebar-tab"><i class="fa-light fa-server"></i></button>
                <button onclick="reloadFC()" class="sidebar-tab"><i class="fa-light fa-arrow-rotate-right"></i></button>
                <button onclick="backFC()" class="sidebar-tab"><i class="fa-light fa-arrow-left-long"></i></button>
                <button onclick="forwardFC()" class="sidebar-tab"><i class="fa-light fa-arrow-right-long"></i></button>
            </div>
        </div>
        <div class="sidebar-top">
            <button onclick="toggleDefaultControls(); toTab('dashboard', this, 'var(--accent)');" class="sidebar-tab"><i class="fa-light fa-hexagon"></i> Dashboard</button>
            <button onclick="toggleCAControls(); toTab('client-area', this, 'var(--accent)');" class="sidebar-tab"><i class="fa-light fa-user-crown"></i> Client Area</button>
            <button onclick="toggleSPControls(); toTab('servers-panel', this, 'var(--accent)');" class="sidebar-tab"><i class="fa-light fa-server"></i> Servers Panel</button>
        </div>
        <div class="sidebar-bottom">
            <button onclick="toggleFCControls(); toTab('forums', this, 'var(--accent)');" class="sidebar-tab"><i class="fa-light fa-users"></i> Forums</button>
            <button onclick="toggleDefaultControls(); toTab('help-center', this, 'var(--accent)');" class="sidebar-tab"><i class="fa-light fa-comments-question-check"></i> Help Center</button>
            <!-- <button class="sidebar-tab"><i class="fa-light fa-bell"></i> Notifications <i class="fa-light fa-arrow-up-right"></i></button> -->
            <button onclick="toggleModal('settings'); modalOpen()" class="sidebar-tab"><i class="fa-light fa-sliders-simple"></i> Settings <i class="fa-light fa-arrow-up-right"></i></button>
        </div>
    </div>
</sidebar>