.cet-titlebar.cet-linux {display: none !important;}
.cet-titlebar.cet-mac {display: none !important;}
.cet-window-icon, .cet-window-title.cet-center, .cet-drag-region {
    display: none !important;
}
.cet-titlebar {
    width: fit-content !important;
    right: 0px !important;
    left: inherit !important;
    background: transparent !important;
}
.cet-menubar {
    position: fixed !important;
    top: 66px !important;
    left: 20px !important;
    background: #121212 !important;
    overflow: inherit !important;
    display: none !important;
    box-sizing: inherit !important;
    height: fit-content !important;
    padding: 10px 10px !important;
    width: 210px !important;
    border-radius: 3px !important;
}

.cet-menubar ul {
    position: fixed !important;
    top: 66px !important;
    left: 225px !important;
    background: #121212 !important;
}