<div class="topNav">
  <button class="nav-page" onclick="openPage('news', this, 'var(--accent)')" id="default_selection"><i class="fa-solid fa-solid fa-solid fa-bookmark"></i> <t2p id="page-news"></t2p></button>
  <button class="nav-page" onclick="openPage('client_panel', this, 'var(--accent)')" id="nav_to_clientPanel"><i class="fas fa-solid fa-id-card"></i> <t2p id="page-client_panel"></t2p></button>
  <button class="nav-page" onclick="openPage('game_panel', this, 'var(--accent)')" id="nav_to_gamePanel"><i class="fas fa-solid fa-server"></i> <t2p id="page-game_panel"></t2p></button>
  <button class="nav-page" onclick="openPage('phpmyadmin', this, 'var(--accent)')" id="nav_to_phpmyadmin"><i class="fas fa-solid fa-database"></i> phpMyAdmin</button>
  <!-- <button class="nav-page">Create New Window</button> -->
</div>
<div class="bottomNav">
  <div class="notifyArea">
    <button id="up_downloading"><t2p id="update_downloading"></t2p></button>
    <button onclick="window.api.send('open-failed-dialog')" id="up_failed"><t2p id="update_failed"></t2p></button>
    <button id="nd_offline"><t2p id="netork_connection-lost"></t2p></button>
    <button id="nd_online"><t2p id="netork_connection-restored"></t2p></button>
  </div>
  <button class="nav-page" onclick="openPage('help_center', this, 'var(--accent)')" id="nav_to_helpCenter"><i class="fas fa-solid fa-question-circle"></i> <t2p id="page-help_center"></t2p></button>
  <button class="nav-page" onclick="openPage('settings', this, 'var(--accent)')" id="nav_to_settings"><i class="fas fa-solid fa-sliders-h"></i> <t2p id="page-settings"></t2p></button>
</div>
<div id="ifSidebar_sw"><span id="grab_sw"></span></div>