<div class="st-tabs">
    <button class="st-nav-page" onclick="openStPage('st-id-uptime', this, 'var(--accent)')"><i class="fas fa-solid fa-business-time"></i> <t2p id="st-uptime"></t2p></button>
    <button class="st-nav-page" onclick="openStPage('st-id-account', this, 'var(--accent)')" style="margin-bottom: 20px;"><i class="fas fa-solid fa-user-circle"></i> <t2p id="st-account"></t2p></button>
    <span id="divider"></span>
    <button class="st-nav-page" onclick="openStPage('st-id-about', this, 'var(--accent)')" id="st-sc-default_selection"><i class="fas fa-solid fa-info-circle"></i> <t2p id="st-about"></t2p></button>
    <button class="st-nav-page" onclick="openStPage('st-id-language', this, 'var(--accent)')"><i class="fas fa-solid fa-language"></i> <t2p id="st-language"></t2p></button>
    <button class="st-nav-page" onclick="openStPage('st-id-appearance', this, 'var(--accent)')"><i class="fas fa-solid fa-swatchbook"></i> <t2p id="st-appearance"></t2p></button>
    <button class="st-nav-page" onclick="openStPage('st-id-advance', this, 'var(--accent)')"><i class="fas fa-solid fa-toolbox"></i> <t2p id="st-advanced"></t2p></button>
</div>

<div class="st-tab-content">
    <div id="st-id-about" class="st-tab">
        <h1>FalixNodes Desktop</h1>
        <p>Version: 3.7.21</p>
        <h2>License</h2>
        <div class="scrollable-ta">
            <div insert="./html/components/license.html"></div>
        </div>
    </div>
    <div id="st-id-language" class="st-tab">
        <div class="setting-fs">
            <h3><t2p id="fs-language"></t2p></h3>
            <div class="settings-slec">
                <div class="lang-se" onclick="setLanguage('./css/settings/language/english.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_en"></span>
                    <p>English</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/spanish.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_es"></span>
                    <p>Spanish</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/french.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_fr"></span>
                    <p>French</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/chinese.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_cn"></span>
                    <p>Chinese</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/hindi.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_hn"></span>
                    <p>Hindi</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/german.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_gm"></span>
                    <p>German</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/bengali.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_be"></span>
                    <p>Bengali</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/russian.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_ru"></span>
                    <p>Russian</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/portuguese.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_pt"></span>
                    <p>Portuguese</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/latvian.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_lv"></span>
                    <p>Latvian</p>
                </div>
                <div class="lang-se" onclick="setLanguage('./css/settings/language/turkish.css'); navigateTo('https://desktop.falixnodes.net/blank/');">
                    <span id="lang_sel_do_tr"></span>
                    <p>Turkish</p>
                </div>
            </div>
        </div>
    </div>
    <div id="st-id-appearance" class="st-tab">
            <div class="setting-fs">
                <h3><tp2 id="fs-ac"></tp2></h3>
                <div class="button-row-fs">
                    <button id="default" title="Default" onclick="swapAccentColor('./css/settings/accent-color/default.css')"><t2p id="ac-default"></t2p></button>
                    <button id="purple" title="Purple" onclick="swapAccentColor('./css/settings/accent-color/purple.css')"><t2p id="ac-purple"></t2p></button>
                    <button id="red" title="Red" onclick="swapAccentColor('./css/settings/accent-color/red.css')"><t2p id="ac-red"></t2p></button>
                    <button id="green" title="Green" onclick="swapAccentColor('./css/settings/accent-color/green.css')"><t2p id="ac-green"></t2p></button>
                    <button id="gray" title="Gray" onclick="swapAccentColor('./css/settings/accent-color/gray.css')"><t2p id="ac-gray"></t2p></button>
                </div>
            </div>
            <div class="setting-fs">
                <h3>Window Blur</h3>
                <div class="button-row-fs">
                    <span id="brSelect"></span>
                    <button class="bRbtn" onclick="setBlur('On'); document.getElementById('brSelect').style.margin = '-4px 0px 0px -4px'" id="blurOn"><img src="./images/settings/blur-type/Blur Behind.png"></button>
                    <button class="bRbtn" onclick="setBlur('Off'); document.getElementById('brSelect').style.margin = '-4px 0px 0px 77px'" id="blurOff"><img src="./images/settings/blur-type/Transparent.png"></button>
                </div>
            </div>
            <div class="setting-fs">
                <h3>Blur Type</h3>
                <div class="button-row-fs">
                    <span id="btSelect"></span>
                    <button class="bRbtn" onclick="setBlurType('btBH'); document.getElementById('btSelect').style.margin = '-4px 0px 0px -4px'" id="Blur"><img src="./images/settings/blur-type/Blur Behind.png"></button>
                    <button class="bRbtn" onclick="setBlurType('btTP'); document.getElementById('btSelect').style.margin = '-4px 0px 0px 77px'" id="Transparent"><img src="./images/settings/blur-type/Transparent.png"></button>
                    <button class="bRbtn" data-for-os="windows" onclick="setBlurType('btAY'); document.getElementById('btSelect').style.margin = '-4px 0px 0px 162px'" id="Acrylic"><img src="./images/settings/blur-type/Acrylic.png"></button>
                    <button class="bRbtn" data-for-os="mac" onclick="setBlurType('btVB'); document.getElementById('btSelect').style.margin = '-4px 0px 0px 162px'" id="Vibrancy"><img src="./images/settings/blur-type/Vibrancy.png"></button>
                </div>
            </div>
        </div>
        <div id="st-id-advance" class="st-tab">
            <div class="setting-fs">
                <div class="toggle-fs">
                    <span title="Access developer tool for Client and Game Panel. More techincal information is displayed in the About section in Settings." onclick="developerMode('./css/settings/developer-mode/off.css')" id="dm-toggle-play_off"></span>
                    <span title="Access developer tool for Client and Game Panel. More techincal information is displayed in the About section in Settings." onclick="developerMode('./css/settings/developer-mode/on.css')" id="dm-toggle-play_on"></span>
            
                    <p><t2p id="tog-devMode"></t2p></p>
            
                    <span id="toggle-dm-cm"></span>
                </div>
                <div class="toggle-fs">
                    <span title="WARNING: May use more resources on startup of application." onclick="GPLS('Off'); setGPLS('./css/settings/game-panel-load-state/off.css')" id="gpls-toggle-play_off"></span>
                    <span title="WARNING: May use more resources on startup of application." onclick="GPLS('On'); setGPLS('./css/settings/game-panel-load-state/on.css')" id="gpls-toggle-play_on"></span>
            
                    <p><t2p id="tog-gpls"></t2p></p>
            
                    <span id="toggle-gpls-cm"></span>
                </div>
                <div class="toggle-fs">
                    <span onclick="autoLoginDiscord('Off'); setalD('./css/settings/auto-login/discord/off.css')" id="alD-toggle-play_off"></span>
                    <span onclick="autoLoginDiscord('On');autoLoginGoogle('Off'); setalD('./css/settings/auto-login/discord/on.css');setalG('./css/settings/auto-login/google/off.css')" id="alD-toggle-play_on"></span>
            
                    <p><t2p id="tog-alD"></t2p></p>
            
                    <span id="toggle-alD-cm"></span>
                </div>
                <div class="toggle-fs">
                    <span onclick="autoLoginGoogle('Off'); setalG('./css/settings/auto-login/google/off.css')" id="alG-toggle-play_off"></span>
                    <span onclick="autoLoginGoogle('On');autoLoginDiscord('Off'); setalG('./css/settings/auto-login/google/on.css');setalD('./css/settings/auto-login/discord/off.css')" id="alG-toggle-play_on"></span>
            
                    <p><t2p id="tog-alG"></t2p></p>
            
                    <span id="toggle-alG-cm"></span>
                </div>
                <div>
                    <button id="imoo" onclick="logOutEverywhere(); document.getElementById('imoo').style.opacity = '0.4'; document.getElementById('imoo').style.pointerEvents = 'none'; "><tp2 id="loe"></tp2></button>
                </div>
            </div>        
        </div>
    </div>
</div>





















