/* Content */
t2p#page-news::before {content: "أخبا";}
t2p#page-client_panel::before {content: "لوحة العمي";}
t2p#page-game_panel::before {content: "لوحة اللعب";}
t2p#page-phpmyadmin::before {content: "phpMyAdmin";}
t2p#page-support::before {content: "دع";}
t2p#page-help_center::before {content: "مركز المساعد";}
t2p#page-settings::before {content: "الإعدادا";}

t2p#nd-Opening-in-brower::before {content: "الافتتاح في المستعرض";}
t2p#netork_connection-lost::before {content: "انقطع الاتصال";}
t2p#netork_connection-restored::before {content: "تمت استعادة الاتصال";}

t2p#h1-settings::before {content: "الإعدادات";}
t2p#h2-app::before {content: "تطبيق";}
t2p#fs-language::before {content: "لغة";}
t2p#fs-devMode::before {content: "وضع المطور";}
t2p#fs-appearance::before {content: "المظاهر";}
tp2#fs-ac::before {content: "لون التمييز";}
tp2#fs-oo::before {content: "خيارات أخرى";}
tp2#fs-adv::before {content: "تقدم";}
tp2#fs-reset::before {content: "إعادة تعيين";}
t2p#tog-devMode::before {content: "تمكين وضع المطور";}
t2p#tog-rc::before {content: "زوايا مدورة";}
t2p#tog-ts::before {content: "شفافية الشريط الجانب";}

t2p#gp_unl-h1::before {content: "لوحة اللعبة";}
tp2#gp_unl-p::before {content: "تفرغ لوحة اللعبة بشكل افتراضي في Falix برنامج للحد من كمية الموارد المستخدمة. هذا يساعد في الأداء.";}
tp2#gp_unl-button::before {content: "لوحة التحمي";}

/* Language is read from right to left */
.nav_area {right: 0px;text-align: right;}
button.nav-page {text-align: right;}
button.nav-page i {position: absolute;right: 0px;}
button.nav-page t2p {margin-right: 15px;}

.controls {left: inherit !important;right: 89px;}
div#client_panel_CC {
    left: inherit !important;
    right: 114px;
}

.content {left: inherit !important;}
div#game_panel-unloaded {
    text-align: right;
    position: absolute;
    right: 30px;
}

.st-tabs {left: inherit;right: 216px;}
.st-tab-content {
    text-align: right;
    left: 10px;
    width: calc(100% - 290px);
}
.st-tabs button i {
    position: absolute;
    right: 23px;
    margin-top: 2px;
}

webview#uptime {width: calc(100% - 504px);margin-left: 0px;}

/* Front-End, show that the option for the language was selected in the settings */
span#lang_sel_do_en::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
button#lang_sel_do_tr {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px transparent solid;
}
span#lang_sel_do_es::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_fr::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_cn::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_hn::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_gm::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_ab::before {
    content: "";
    position: absolute;
    background: var(--accent);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_be::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_ru::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_pt::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_lv::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}