/* Content */
t2p#page-news::before {content: "新闻";}
t2p#page-client_panel::before {content: "客户端面板";}
t2p#page-game_panel::before {content: "游戏面板";}
t2p#page-phpmyadmin::before {content: "phpMyAdmin";}
t2p#page-support::before {content: "支持";}
t2p#page-help_center::before {content: "帮助中心";}
t2p#page-settings::before {content: "设置";}

t2p#notify-internet-lost::before {content: "Connection Lost";}
t2p#notify-internet-restored::before {content: "Connection Restored";}

t2p#h1-settings::before {content: "设置";}
t2p#h2-app::before {content: "应用";}
t2p#fs-language::before {content: "语";}
t2p#fs-devMode::before {content: "开发者模式";}
t2p#fs-appearance::before {content: "出场次数";}
tp2#fs-ac::before {content: "强调色";}
tp2#fs-oo::before {content: "其他选项";}
tp2#fs-adv::before {content: "推进";}
tp2#fs-reset::before {content: "重置";}
t2p#tog-devMode::before {content: "启用开发者模式";}
t2p#tog-rc::before {content: "回合 角落";}
t2p#tog-ts::before {content: "侧边栏透明度";}

t2p#gp_unl-h1::before {content: "游戏面板";}
tp2#gp_unl-p::before {content: "Falix Software 默认不加载游戏面板，以减少使用的资源量。 这有助于提高性能。";}
tp2#gp_unl-button::before {content: "负载面板";}

/* Front-End, show that the option for the language was selected in the settings */
span#lang_sel_do_en::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
button#lang_sel_do_tr {
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px transparent solid;
}
span#lang_sel_do_es::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_fr::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_cn::before {
    content: "";
    position: absolute;
    background: var(--accent);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_hn::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_gm::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_ab::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_be::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_ru::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_pt::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}
span#lang_sel_do_lv::before {
    content: "";
    position: absolute;
    background: var(--bg-accent-one);
    width: 15px;
    height: 15px;
    margin: 6px 0px 0px 5px;
    border-radius: 4px;
}