<settings class="tab">
    <h1>About</h1>
    <div id="grid-it-2">
        <div>
            <div class="sContainer">
                <div>
                    <h1>Versions</h1>
                </div>
                <div>
                    <p>FalixNodes Desktop: v4 alpha 1</p>
                    <p>Packaged Version: 4.70.0-alpha-1</p>
                </div>
            </div>
            <div class="sContainer">
                <div>
                    <h1>License Agreement</h1>
                </div>
                <div>
                    <div add-component="./components/extra/license.html"></div>
                </div>
            </div>
            <div class="sContainer">
                <div>
                    <h1>Credits</h1>
                </div>
                <div>
                    <p>Developer: <a style="text-decoration: underline; cursor: pointer;" onclick="window.api.send('creditKS')" target="_blank">Korbs Studio</a></p>
                    <p>Framework: <a style="text-decoration: underline; cursor: pointer;" onclick="window.api.send('creditEJS')" target="_blank">ElectronJS</a></p>
                    <p>Blur Composition Effect: <a style="text-decoration: underline; cursor: pointer;" onclick="window.api.send('creditGT')">Glasstron</a></p>
                    <p>Command Menu: <a style="text-decoration: underline; cursor: pointer;" onclick="window.api.send('creditNK')">Ninja Keys</a></p>
                </div>
            </div>
        </div>
    </div>
</settings>