<settings class="tab">
    <h1>About</h1>
    <div id="grid-it-2">
        <div>
            <div class="sContainer">
                <div>
                    <h1>Versions</h1>
                </div>
                <div>
                    <p>FalixNodes Desktop: v4 Beta 1</p>
                    <p>Packaged Version: 4.0.0-beta-1</p>
                </div>
            </div>
            <div class="sContainer">
                <div>
                    <h1>License Agreement</h1>
                </div>
                <div>
                    <iframe onload="resizeIframe(this)" scrolling="no" src="../LICENSE"></iframe>
                </div>
            </div>
            <div class="sContainer">
                <div>
                    <h1>Credits</h1>
                </div>
                <div>
                    <p>Developer: <a href="https://korbsstudio.com/" target="_blank">Korbs Studio</a></p>
                    <p>Framework: <a href="#">ElectronJS</a></p>
                    <p>Blur Composition Effect: <a href="#">Glasstron</a></p>
                </div>
            </div>
        </div>
    </div>
</settings>