<settings class="tab">
    <h1>VPN</h1>
    <div id="grid-it-2">
        <div>
            <div id="vpn" class="sContainer">
                <div>
                    <h1>Setup Mullvad</h1>
                    <button style="display: inherit;" id="install-mullvad">Install Mullvad</button>
                </div>
                <div>
                    <p>This area of FalixNodes Desktop relies on Mullvad, a VPN service. Once installed or if already installed, click the login button below.</p>
                    <button onclick="window.api.send('loginVPN')" id="login-mullvad">Login to Mullvad</button>
                </div>
            </div>
        </div>
    </div>
</settings>