<settings class="tab">
    <h1>VPN</h1>
    <div id="grid-it-2">
        <div>
            <div id="vpn" class="sContainer">
                <div>
                    <h1>Controls</h1>
                    <button id="install-mullvad">Install Mullvad</button>
                    <button id="open-mullvad">Open Mullvad</button>
                </div>
                <div style="height: 480px; justify-self: center;">
                    <vpn>
                        <p id="ph-location">Select a location</p>
                        <button id="VPN-LOCATION-UKLN" style="display: none;" onclick="window.api.send('enableVPN'); document.getElementById('VPN-LOCATION-UKLN').style.backgroundColor = '#29cc81'; document.getElementById('VPN-LOCATION-UKLN').style.boxShadow = '0px 0px 0px 32px #269461e8'; setVPNON()" class="vpn-connection"><i class="fa-light fa-power-off"></i></button>
                        <button id="VPN-LOCATION-USNY" style="display: none;" onclick="window.api.send('enableVPN'); document.getElementById('VPN-LOCATION-USNY').style.backgroundColor = '#29cc81'; document.getElementById('VPN-LOCATION-USNY').style.boxShadow = '0px 0px 0px 32px #269461e8'; setVPNON()" class="vpn-connection"><i class="fa-light fa-power-off"></i></button>
                        <button id="VPN-LOCATION-GRBR" style="display: none;" onclick="window.api.send('enableVPN'); document.getElementById('VPN-LOCATION-GRBR').style.backgroundColor = '#29cc81'; document.getElementById('VPN-LOCATION-GRBR').style.boxShadow = '0px 0px 0px 32px #269461e8'; setVPNON()" class="vpn-connection"><i class="fa-light fa-power-off"></i></button>
                        <button id="VPN-LOCATION-AUSY" style="display: none;" onclick="window.api.send('enableVPN'); document.getElementById('VPN-LOCATION-AUSY').style.backgroundColor = '#29cc81'; document.getElementById('VPN-LOCATION-AUSY').style.boxShadow = '0px 0px 0px 32px #269461e8'; setVPNON()" class="vpn-connection"><i class="fa-light fa-power-off"></i></button>
                    </vpn>
                    <vpnlocation>
                        <button id="flag-uk" onclick="window.api.send('ukVPN'); hideAT(); document.getElementById('flag-uk').style.backgroundColor = 'var(--accent)'; document.getElementById('VPN-LOCATION-UKLN').style.display = 'inherit'; document.getElementById('ph-location').style.display = 'none';"><img src="./assets/images/icons/flags/uk.svg"></button>
                        <button id="flag-us" onclick="window.api.send('usVPN'); hideAT(); document.getElementById('flag-us').style.backgroundColor = 'var(--accent)'; document.getElementById('VPN-LOCATION-USNY').style.display = 'inherit'; document.getElementById('ph-location').style.display = 'none';"><img src="./assets/images/icons/flags/us.svg"></button>
                        <button id="flag-de" onclick="window.api.send('deVPN'); hideAT(); document.getElementById('flag-de').style.backgroundColor = 'var(--accent)'; document.getElementById('VPN-LOCATION-GRBR').style.display = 'inherit'; document.getElementById('ph-location').style.display = 'none';"><img src="./assets/images/icons/flags/de.svg"></button>
                        <button id="flag-au" onclick="window.api.send('auVPN'); hideAT(); document.getElementById('flag-au').style.backgroundColor = 'var(--accent)'; document.getElementById('VPN-LOCATION-AUSY').style.display = 'inherit'; document.getElementById('ph-location').style.display = 'none';"><img src="./assets/images/icons/flags/au.svg"></button>
                    </vpnlocation>
                </div>
            </div>
            <div id="MULLVAD-FAILED" class="sContainer redSC">
                <div>
                    <h1>ERROR</h1>
                </div>
                <div>
                    <p>Mullvad failed to connect or <u onclick="window.api.send('loginVPN')">you're not logged in</u>. Try again.</p>
                </div>
            </div>
            <div id="MULLVAD-NOT-FOUND" class="sContainer redSC">
                <div>
                    <h1>ERROR</h1>
                </div>
                <div>
                    <p>Mullvad not detected on your system, please install Mullvad.</p>
                </div>
            </div>
        </div>
    </div>
</settings>