:root {
    --accent: #28bca3;
}

button#default {
    background: #2970CC;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 2px transparent solid;
}
button#purple {
    background: #6B5FD3;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 2px transparent solid;
}
button#red {
    background: #c6262e;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 2px transparent solid;
}
button#green {
    background: #28bca3;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 2px white solid;
}
button#gray {
    background: #abacae;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 2px transparent solid;
}