<div id="about" class="hs-content">
    <div class="modal-header">
        <h1><i18n text="About"></i18n></h1>
        <button onclick="toggleModal('null'); modalClose();" id="close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <h2><i18n text="Versions"></i18n></h2>
    <p><i18n text="App Version"></i18n>: v4.0.0 Beta 2</p>
    <p><i18n text="Package Version"></i18n>: 4.70.0-beta.2</p>
    <h2><i18n text="Software License"></i18n></h2>
    <div add-component="./components/views/license.html"></div>
</div>