<div class="modal-sidebar">
    <div class="modal-sidebar-top">
        <div onclick="toSettingsTab('about', this, '#323232');" class="modal-sidebar-tab">About</div>
        <div onclick="toSettingsTab('account', this, '#323232');" class="modal-sidebar-tab">Account</div>
        <div onclick="toSettingsTab('language', this, '#323232');" class="modal-sidebar-tab">Language</div>
        <div onclick="toSettingsTab('personalization', this, '#323232');" class="modal-sidebar-tab">Personalization</div>
    </div>
    <div class="modal-sidebar-bottom">
        <div onclick="toSettingsTab('troubleshooting', this, '#323232');" class="modal-sidebar-tab">Troubleshooting</div>
        <div class="modal-sidebar-tab">Log Out</div>
    </div>
</div>