<div class="modal-sidebar">
    <div class="modal-sidebar-top">
        <div onclick="toSettingsTab('about', this, '#323232');" class="modal-sidebar-tab"><i18n text="About"></i18n></div>
        <div onclick="toSettingsTab('account', this, '#323232');" class="modal-sidebar-tab"><i18n text="Account"></i18n></div>
        <div onclick="toSettingsTab('language', this, '#323232');" class="modal-sidebar-tab"><i18n text="Language"></i18n></div>
        <div onclick="toSettingsTab('personalization', this, '#323232');" class="modal-sidebar-tab"><i18n text="Personalization"></i18n></div>
    </div>
    <div class="modal-sidebar-bottom">
        <div onclick="toSettingsTab('troubleshooting', this, '#323232');" class="modal-sidebar-tab"><i18n text="Troubleshooting"></i18n></div>
    </div>
</div>