body {
    background: transparent !important;
    color: white !important;
    font-size: 0px !important;
    overflow: hidden !important;
}
svg {
    width: 0px !important;
}
button,
.IQTcj,
svg[data-icon="ethernet"],
[href="https://pterodactyl.io"] {
    display: none !important;
}

svg[data-icon="server"] {
    width: 16px !important;
}

svg[data-icon="microchip"], svg[data-icon="memory"], svg[data-icon="hdd"] {
    margin: 20px 0px 20px 0px !important;
}

section {
    pointer-events: none !important;
}

section > div {
    display: flex !important;
    font-size: 14px !important;
}
section > div > a {
    display: flex !important;
    flex-direction: column !important;
    height: 60px !important;
    background: rgb(42 42 42 / 50%) !important;
    border-radius: 10px !important;
    color: white !important;
    font-family: arial !important;
    font-weight: bold !important;
    text-decoration: none !important;
    padding: 10px !important;
    margin: 0px 20px 0px 0px !important;
}
section > div > a * {
    margin: 0px !important;
}
section > div > a > div {
    display: flex !important;
    margin: 0px 0px -14px 0px !important;
}
section > div > a > div > div {
    margin: 0px 12px !important;
}