body {
    background: transparent !important;
    pointer-events: none !important;
}

.dRhlIo {
    background: rgb(255 255 255 / 10%) !important;
}

.NavigationBar__Navigation-tupl2x-0,
.ContentContainer-x3r2dw-0.PageContentBlock___StyledContentContainer2-kbxq2g-2.hiUzTH.fcjicp,
.ServerRow___StyledDiv4-sc-1ibsw91-10
{ 
    display: none !important;
}

.ContentContainer-x3r2dw-0.PageContentBlock___StyledContentContainer-kbxq2g-0.hiUzTH.ckLneN {
    display: grid !important;
    grid-template-columns: auto auto !important;
    grid-gap: 10px !important;
    margin-right: 40px !important;
    margin-top: -20px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.bEKRkc {
    grid-template-columns: auto !important;
}

.jbVWLN {
    margin-top: 0px !important;
}

.CbttB {
    background: rgb(255 255 255 / 25%) !important;
    box-shadow: none !important;
    height: 4px !important; 
    border-radius: 10px !important; 
    margin: 0px 20px !important; 
    width: calc(100% - 60px) !important;
    top: 0px !important;
    position: fixed !important; 
}