header, #ohno, footer, .hero, img#heroIMG, .boxWel {
    display: none !important;
}
.help-home {
    display: inherit !important;
}
.sections .content {
    top: 0px !important;
}
#bg-art-he::before {
    height: 130px !important;
}

body, #bg-art-he::before {
    background: rgb(24 44 68 / 50%);
}