<content>
    <div id="dashboard">
        <div id="Dashboard" class="content">
            <cDemo><i class="fa-light fa-grid-horizontal"></i> Dashboard</cDemo>
        </div>
        <div id="Blog" class="content">
            <cDemo><i class="fa-light fa-circle-bookmark"></i> Blog</cDemo>
        </div>
        <div id="Client" class="content">
            <cDemo><i class="fa-light fa-user"></i> Client</cDemo>
        </div>
        <div id="Server" class="content">
            <cDemo><i class="fa-light fa-server"></i> Server</cDemo>
        </div>
        <div id="Database" class="content">
            <cDemo><i class="fa-brands fa-php"></i> PHP</cDemo>
        </div>
        <div id="SFTP" class="content">
            <cDemo><i class="fa-light fa-folder-open"></i> SFTP</cDemo>
        </div>
        <div id="Help" class="content">
            <cDemo><i class="fa-light fa-comments-question-check"></i> Help</cDemo>
        </div>
        <div id="Support" class="content">
            <cDemo><i class="fa-light fa-headset"></i> Support</cDemo>
        </div>
    </div>
    <div style="display: none;" id="settings">
        <div id="About">
            <cDemo><i class="fa-light fa-circle-info"></i> About</cDemo>
        </div>
        <div id="Language">
            <cDemo><i class="fa-light fa-language"></i> Language</cDemo>
        </div>
        <div id="Appearance">
            <cDemo><i class="fa-light fa-palette"></i> Appearance</cDemo>
        </div>
        <div id="Notifications">
            <cDemo><i class="fa-light fa-bells"></i> Notifications</cDemo>
        </div>
        <div id="Security">
            <cDemo><i class="fa-light fa-shield-check"></i> Security</cDemo>
        </div>
        <div id="System">
            <cDemo><i class="fa-light fa-computer-classic"></i> System</cDemo>
        </div>
        <div id="Utitlity">
            <cDemo><i class="fa-light fa-toolbox"></i> Utitlity</cDemo>
        </div>
        <div id="Account">
            <cDemo><i class="fa-light fa-circle-user"></i> Account</cDemo>
        </div>
        <div id="Uptime">
            <cDemo><i class="fa-light fa-hourglass-clock"></i> Uptime</cDemo>
        </div>
    </div>
</content>