<sidebar>
    <div class="header">
        <button style="text-align: left;"><img src="./assets/images/icons/app/32x32.png"></button>
        <button onclick="ninja.open() " id="command-menu-o"><i class="fa-light fa-command"></i></button>
        <button id="profile"><i class="fa-light fa-circle-user"></i></button>
    </div>
    <div class="tabs" id="dashboard">
        <div class="top">
            <button onclick="toTab('DashboardTB', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk1"><i class="fa-light fa-grid-horizontal"></i> Dashboard</button>
            <button onclick="toTab('Client', this, 'var(--accent)'); tgMH()" class="tab" id="fxdk3"><i class="fa-light fa-user"></i> Client Area</button>
            <button onclick="toTab('Server', this, 'var(--accent)'); tgMH()" class="tab" id="fxdk4"><i class="fa-light fa-server"></i> Server Panel</button>
            <!-- <button onclick="toTab('Database', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk5"><i class="fa-brands fa-php"></i> Database Management</button> -->
            <button onclick="toTab('SFTP', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk6"><i class="fa-light fa-folder-open"></i> SFTP</button>
            <!-- <button onclick="toTab('Launcher', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk7"><i class="fa-light fa-cube"></i> Launcher (Concept)</button> -->
        </div>
        <tabspacer></tabspacer>
        <div class="bottom">
            <button onclick="toTab('Help', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk7"><i class="fa-light fa-comments-question-check"></i> Help Center</button>
            <button onclick="toTab('Support', this, 'var(--accent)'); tgMS()" class="tab" id="fxdk8"><i class="fa-light fa-headset"></i> Support</button>
            <button onclick="toNotifications();document.getElementById('notification-amount').style.opacity = '0'; " class="tab tab-menu" id="fxdk9"><input type="number" id="notification-amount" readonly><i class="fa-light fa-bell"></i> Notifications <i class="fa-light fa-angle-right"></i></button>
            <button onclick="toSettings()" class="tab tab-menu" id="fxdk10"><i class="fa-light fa-sliders-simple"></i> Settings <i class="fa-light fa-angle-right"></i></button>
        </div>
    </div>
    <div style="display: none;" class="tabs" id="notifications">
        <button onclick="toDashboard()" class="tab"><i class="fa-light fa-chevron-left"></i> Back</button>
        <hr>
        <!-- Notifications are generated here by Pushy -->
    </div>
    <div style="display: none;" class="tabs" id="settings">
        <div class="top">
            <button onclick="toDashboard()" class="tab"><i class="fa-light fa-chevron-left"></i> Back</button>
            <hr>
            <button onclick="toTab('About', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-circle-info"></i> About</button>
            <button onclick="toTab('Language', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-language"></i> Language</button>
            <button onclick="toTab('Customization', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-palette"></i> Customization</button>
            <button onclick="toTab('Notifications', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-bells"></i> Notifications</button>
            <button onclick="toTab('Security', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-shield-check"></i> Security</button>
            <button onclick="toTab('System', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-computer-classic"></i> System</button>
            <button id="setup-vpn" onclick="toTab('VPN', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-duotone fa-spinner-third fa-spin"></i> VPN</button>
            <button id="setup-vpnsetup" style="display: none;" onclick="null" class="tab"><i class="fa-duotone fa-spinner-third fa-spin"></i> VPN</button>
            <button onclick="toTab('Utitlity', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-toolbox"></i> Utitlity Tools</button>
            <button onclick="toTab('Sandbox', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-shovel"></i> Sandbox</button>
            <hr>
            <button onclick="toTab('Account', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-circle-user"></i> Account</button>
            <button onclick="toTab('Uptime', this, 'var(--accent)'); tgMS()" class="tab"><i class="fa-light fa-hourglass-clock"></i> Uptime Status</button>
        </div>
        <tabspacer></tabspacer>
        <div class="bottom">
            <button id="logout" class="tab"><i class="fa-light fa-arrow-right-from-bracket"></i> Log Out</button>
        </div>
    </div>
</sidebar>