<sidebar>
    <div class="header">
        <button style="text-align: left;"><i class="fa-light fa-square-dashed"></i></button>
        <button onclick="openCommandModal(); search.start();" id="command-menu-o"><i class="fa-light fa-command"></i></button>
        <button id="profile"><i class="fa-light fa-circle-user"></i></button>
    </div>
    <div class="tabs" id="dashboard">
        <div class="top">
            <button onclick="toTab('DashboardTB', this, 'var(--accent)')" class="tab" id="fxdk1"><i class="fa-light fa-grid-horizontal"></i> Dashboard</button>
            <button onclick="toTab('Blog', this, 'var(--accent)')" class="tab" id="fxdk2"><i class="fa-light fa-circle-bookmark"></i> Blog Posts <div add-component="./components/controls/blog.html"></div></button>
            <button onclick="toTab('Client', this, 'var(--accent)')" class="tab" id="fxdk3"><i class="fa-light fa-user"></i> Client Area</button>
            <button onclick="toTab('Server', this, 'var(--accent)')" class="tab" id="fxdk4"><i class="fa-light fa-server"></i> Server Panel</button>
            <button onclick="toTab('Database', this, 'var(--accent)')" class="tab" id="fxdk5"><i class="fa-brands fa-php"></i> Database Management</button>
            <button onclick="toTab('SFTP', this, 'var(--accent)')" class="tab" id="fxdk6"><i class="fa-light fa-folder-open"></i> SFTP</button>
        </div>
        <tabspacer></tabspacer>
        <div class="bottom">
            <button onclick="toTab('Help', this, 'var(--accent)')" class="tab" id="fxdk7"><i class="fa-light fa-comments-question-check"></i> Help Center</button>
            <button onclick="toTab('Support', this, 'var(--accent)')" class="tab" id="fxdk8"><i class="fa-light fa-headset"></i> Support</button>
            <button onclick="toNotifications()" class="tab tab-menu" id="fxdk9"><i class="fa-light fa-bell"></i> Notifications <i class="fa-light fa-angle-right"></i></button>
            <button onclick="toSettings()" class="tab tab-menu" id="fxdk10"><i class="fa-light fa-sliders-simple"></i> Settings <i class="fa-light fa-angle-right"></i></button>
        </div>
    </div>
    <div style="display: none;" class="tabs" id="notifications">
        <button onclick="toDashboard()" class="tab"><i class="fa-light fa-chevron-left"></i> Back</button>
        <hr>
        <notification>
            <i class="fa-light fa-cloud-exclamation"></i>
            <div>
            <div class="header">
                <h1>Notification Title</h1>
            </div>
            <div class="actions">
                <button>Dismiss</button>
                <button>View</button>
            </div>
        </div>
        </notification>
        <notification>
            <i class="fa-light fa-cloud-check"></i>
            <div>
            <div class="header">
                <h1>Update Ready</h1>
            </div>
            <div class="actions">
                <button>Dismiss</button>
                <button onclick="notificationUpdateTrigger()">View</button>
            </div>
        </div>
        </notification>
    </div>
    <div style="display: none;" class="tabs" id="settings">
        <div class="top">
            <button onclick="toDashboard()" class="tab"><i class="fa-light fa-chevron-left"></i> Back</button>
            <hr>
            <button onclick="toTab('About', this, 'var(--accent)')" class="tab"><i class="fa-light fa-circle-info"></i> About</button>
            <button onclick="toTab('Language', this, 'var(--accent)')" class="tab"><i class="fa-light fa-language"></i> Language</button>
            <button onclick="toTab('Appearance', this, 'var(--accent)')" class="tab"><i class="fa-light fa-palette"></i> Appearance</button>
            <button onclick="toTab('Notifications', this, 'var(--accent)')" class="tab"><i class="fa-light fa-bells"></i> Notifications</button>
            <button onclick="toTab('Security', this, 'var(--accent)')" class="tab"><i class="fa-light fa-shield-check"></i> Security</button>
            <button onclick="toTab('System', this, 'var(--accent)')" class="tab"><i class="fa-light fa-computer-classic"></i> System</button>
            <button onclick="toTab('Utitlity', this, 'var(--accent)')" class="tab"><i class="fa-light fa-toolbox"></i> Utitlity Tools</button>
            <hr>
            <button onclick="toTab('Account', this, 'var(--accent)')" class="tab"><i class="fa-light fa-circle-user"></i> Account</button>
            <button onclick="toTab('Uptime', this, 'var(--accent)')" class="tab"><i class="fa-light fa-hourglass-clock"></i> Uptime Status</button>
        </div>
        <tabspacer></tabspacer>
        <div class="bottom">
            <button id="logout" class="tab"><i class="fa-light fa-arrow-right-from-bracket"></i> Log Out</button>
        </div>
    </div>
</sidebar>