.tt.tu.tv.tw.tx.ty.n.cl, .n.cl.hu, .s.hu, .u.s.v, .n.cl.ib, .s.ib, .tf.s.tg.th, .ul.um.un.uo.lx.up.wd {
    display: none !important;
}
a.eb.ec.cb.cc.cd.ce.cf.cg.ch.bn.tn.to.ci.tp.tq {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    pointer-events: none !important;
}
img.x.it.iu {border-radius: 7px !important;}
.acm {background-color: transparent;backdrop-filter: blur(8px) !important;}
h1#\30 049 {font-size: 36px !important;}
::-webkit-scrollbar {width: 0px !important;}