:root {
    --bg-accent-one: #0b1725;
    --bg-accent-two: #162230;
}

body {
    background: transparent;
    color: white;
    font-family: Poppins;
}
body::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #1f3040;
    z-index: -1;
    border-radius: 7px;
    border: 4px #2970cc solid;
}

html.windows [data-for-os=mac] {display: none !important}
html.mac [data-for-os=windows] {display: none !important}
.linux #titlebar {display: none !important}
html.mac .topNav {margin-top: 40px}
html.windows .topNav {margin-top: 40px;}

*:focus {outline: none;}
li {list-style-type: none;}
li svg {text-align: center;margin: 0px 10px;}
::-webkit-scrollbar {width: 10px;height: 5px;background: #0e1a27;}
::-webkit-scrollbar-thumb {background: #2970cc;}

input, textarea {
    background: #1d2a36;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    resize: none;
}

.header {
    margin-top: 10px;
}
.header svg {
    margin-top: 18px;
}

.content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 70px);
    cursor: default;
    display: grid;
    grid-template-rows: 62px auto auto;
    grid-gap: 10px;
}
.content h1 {
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 20px;
}
.content p {
    font-size: 16px;
    line-height: 16px;
}
#icon {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 35px;
}

.options {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-top: 18px;
}
#optional-button {
    background: #263c52;
    color: white;
    display: flex;
    align-items: center;
    border: 2px #2970cc solid;
    padding: 0px 24px 0px 14px;
    border-radius: 4px;
    cursor: pointer;
}
button#optional-button p {
    font-size: 12px;
    margin-left: 22px;
}
#optional-button svg {
    background: #1f3040;
    padding: 13px;
    margin-left: -14px;
    border-radius: 4px 0px 0px 4px;
}


.actions {
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 4px;
    width: calc(100% - 36px);
    text-align: right;
    background: #1d2a36;
    border-radius: 0px 0px 4px 4px;
    padding: 14px;
    cursor: default;
}
.actions button {
    color: white;
    background: #2970cc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.actions button:hover {
    filter: brightness(0.8);
}