:root {
    --bg-accent-one: #0b1725;
    --bg-accent-two: #162230;
}

body {background: transparent}
html.windows [data-for-os=mac] {display: none !important}
html.mac [data-for-os=windows] {display: none !important}
.linux #titlebar {display: none !important}
html.mac .topNav {margin-top: 40px}
html.windows .topNav {margin-top: 40px;}


*:focus {outline: none;}
::-webkit-scrollbar {width: 0px;}
webview#fullSize {height: 100%;width: 100%;display: inline-flex;}
webview#client_panel_wv {height: 100%;width: 100%;display: inline-flex;}
webview#support_wv {height: 100%;width: 100%;display: inline-flex;}
.nav_area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 224px;
    height: 100%;
    background: rgb(11 23 37 / 75%);
}
.topNav {
    position: absolute;
    display: grid;
    grid-gap: 10px;
    margin: 20px;
}
.bottomNav {
    position: absolute;
    display: grid;
    grid-gap: 10px;
    margin: 20px;
    bottom: 0px;
    width: 178px;
}

button#nd_online {
    background: #33c333;
    border: none;
    padding: 10px 30px 10px 25px;
    text-align: left;
    border-radius: 5px;
    display: none;
}
button#nd_offline {
    background: #ff8181;
    border: none;
    padding: 10px 30px 10px 25px;
    text-align: left;
    border-radius: 5px;
    display: none;
}

.nav_area i {margin: 0px 14px 0px -8px;}
button.nav-page:hover {background: rgb(0 0 0 / 25%);transition: 0.3s background;}
button.nav-page {
    color: white;
    background: transparent;
    border: none;
    text-align: left;
    padding: 10px 30px 10px 25px;
    border-radius: 5px;
    transition: 0.3s background;
}

.content {
    position: fixed;
    top: 0px;
    left: 224px !important;
    width: calc(100% - 224px) !important;
    height: 100%;
    background: var(--bg-accent-two);
    color: white;
    font-family: arial;
    overflow-y: auto;
}

div#settings {margin: 30px;}

.toggle-fs p {margin-left: 30px;}

div#game_panel-loaded {display: none;}
div#game_panel-unloaded {margin: 25px;}
.controls button:hover {opacity: 0.4;}
div#game_panel-unloaded {margin: 25px;width: 400px;}
div#game_panel-unloaded button {
    color: white;
    background: var(--accent);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
webview#game_panel_wv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.controls {
    background: var(--accent);
    position: fixed;
    z-index: 5;
    cursor: default;
    left: 88px;
    top: 110px;
    width: fit-content;
    padding: 5px 7px;
    border-radius: 4px;
    text-align: center;
    font-size: 0px;
}
div#client_panel_CC {
    left: 113px;
    top: 65px;
}
.controls button {
    color: white;
    border: none;
    background: transparent;
    width: 25px;
    padding: 6px 0px;
    cursor: pointer;
}

.xterm .xterm-screen {
    height: 100% !important;
    width: 100% !important;
}
canvas.xterm-text-layer {
    width: 100% !important;
    height: 100% !important;
}
canvas.xterm-selection-layer {
    width: 100% !important;
    height: 100% !important;
}
canvas.xterm-link-layer {
    width: 100% !important;
    height: 100% !important;
}
canvas.xterm-cursor-layer {
    width: 100% !important;
    height: 100% !important;
}