<popup id="logout">
    <div class="popup-title">
        <h1>Log Out</h1>
    </div>
    <div class="popup-message">
        <div>
            <i class="fa-light fa-arrow-right-from-bracket"></i>
        </div>
        <div>
            <p>Clicking "Log Out" will log you out of everything within FalixNodes Desktop like Client Area, Servers Panel, Database Management, SFTP, and everything else.</p>
        </div>
    </div>
    <div class="popup-actions">
        <div></div>
        <button id="popup-cancel">Cancel</button>
        <button onclick="logout()" style="background: #ff4a4a;" id="popup-primary">Log Out</button>
    </div>
</popup>