<popup id="w7">
    <div class="popup-title">
        <h1>WARNING</h1>
    </div>
    <div class="popup-message">
        <div>
            <i class="fa-light fa-triangle-exclamation"></i>
        </div>
        <div>
            <p><a href="https://www.microsoft.com/en-US/windows/windows-7-end-of-life-support-information" target="_blank">Support for Windows 7 has ended.</a> If any issues arises with FalixNodes Desktop on Windows 7, we won't fix it if the issues are related to Windows 7 specifically, expect some functions not to work properly. FalixNodes Limited does not support Windows 7.</p>
            <p>We highly recommend that you upgrade to <u>Windows 10/11</u>, which is free. Or switch to a modern operating system like <u>macOS</u>, <u>ChromeOS</u>, or <u>Linux</u>.</p>
            <p><i>Continuing to use Windows 7 without security updates from Microsoft can lead to higher risk for viruses and malware.</i></p>
        </div>
    </div>
    <div class="popup-actions">
        <div></div>
        <div></div>
        <button onclick="document.getElementById('w7').style.display = 'none'" id="popup-primary">I aknowledge</button>
    </div>
</popup>