button#ss-language-english {border: 1px var(--accent) solid;}

/* Sidebar */
i18n[text="Dashboard"]::before {content: "Dashboard"}
i18n[text="Client Area"]::before {content: "Client Area"}
i18n[text="Servers Panel"]::before {content: "Servers Panel"}
i18n[text="Forums"]::before {content: "Forums"}
i18n[text="Help Center"]::before {content: "Help Center"}
i18n[text="Settings"]::before {content: "Settings"}

/* Modals */
/** About **/
i18n[text="About"]::before {content: "About"}

i18n[text="Versions"]::before {content: "Versions"}
i18n[text="App Version"]::before {content: "App Version"}
i18n[text="Package Version"]::before {content: "Package Version"}

i18n[text="Software License"]::before {content: "Software License"}

/** Account **/
i18n[text="Account"]::before {content: "Account"}

/** Language **/
i18n[text="Language"]::before {content: "Language"}

/** Personalization **/
i18n[text="Personalization"]::before {content: "Personalization"}

i18n[text="(Restarting is required for change to take effect)"]::before {content: "(Restarting is required for change to take effect)"}

i18n[text="Theme"]::before {content: "Theme"}
i18n[text="Light"]::before {content: "Light"}
i18n[text="Blue"]::before {content: "Blue"}
i18n[text="Dark"]::before {content: "Dark"}
i18n[text="Auto"]::before {content: "Auto"}

i18n[text="Window Blur"]::before {content: "Window Blur"}
i18n[text="Blurry"]::before {content: "Blurry"}
i18n[text="Transaprent"]::before {content: "Transaprent"}
i18n[text="Disabled"]::before {content: "Disabled"}

i18n[text="View"]::before {content: "View"}
i18n[text="Default"]::before {content: "Default"}
i18n[text="Compact"]::before {content: "Compact"}

i18n[text="Accent Color"]::before {content: "Accent Color"}

i18n[text="Custom Background"]::before {content: "Custom Background"}
i18n[text="Background URL"]::before {content: "Background URL"}

/** Troubeshooting **/
i18n[text="Troubeshooting"]::before {content: "Troubeshooting"} /* this section won't be translated */

/** Log Out **/
i18n[text="Log Out"]::before {content: "Log Out"}

/* Toasts */
i18n[text="Reload Required"]::before {content: "Reload Required"}