:root {
    --accent: #2970CC;
}

span#color_selected_default {
    border: 4px var(--accent) solid;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 9px 0px 0px -47px;
    border-radius: 50px;
    z-index: 1;
    pointer-events: none;
}

button#set_layout img {
    filter: inherit;
}

button#Default-sel {background: var(--accent)}