@keyframes sidebarOut {
    from {
        transform: translate(0px);
        opacity: 1;
    }
    to {
        transform: translate(-100px);
        opacity: 0;
    }
}

@keyframes sidebarIn {
    from {
        transform: translate(-100px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}