/* Master */
:root {
    --accent: #2970CC;
}

body {
    background: rgb(0 0 0 / 75%);
    color: white;
    font-family: Poppins;
    overflow-x: hidden;
}

content #master {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10%;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
    cursor: default;
}

::-webkit-scrollbar {width: 0px;}
hr {width: 100%;}
i.fa-light.fa-angle-right, i.fa-light.fa-chevron-left {opacity: 0.5;}
webview.fullSize {
    position: fixed;
    top: 0px;
    right: 0px;
    width: calc(100% - 250px);
    height: 100%;
}

/* Sidebar */
sidebar {
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 210px;
    height: 100%;
    background: rgb(60 60 60 / 25%);
}
sidebar .header {
    display: grid;
    grid-template-columns: calc(100% - 65px) auto auto;
    margin: 4px 0px 12px 0px;
}
sidebar .header button {
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
}

sidebar .top, sidebar .bottom {
    display: block;
}
sidebar .bottom {
    align-self: end;
}
sidebar .tab {
    text-align: left;
    padding: 12px 14px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0px;
    display: grid;
    grid-template-columns: 32px auto;
}
sidebar .tab:hover {background: rgb(255 255 255 / 10%);}
sidebar button#logout:hover {background: rgb(255 120 120 / 30%);}
sidebar .tab-menu {grid-template-columns: 32px auto 10px;}
sidebar .tab i {
    justify-self: center;
    margin-right: 14px;
}
sidebar .tabs {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 210px;
    height: calc(100% - 94px);
    transition: 1s transform, 0.8s opacity;
}

/* button#fxdk3::before, button#fxdk4::before, button#fxdk5::before {
    content: "";
    position: absolute;
    width: calc(100% - 0px);
    height: 44px;
    background: #2970cc;
    opacity: 0.1;
    left: 50%;
    transform: translate(-50%);
    margin-top: -15px;
} */

/** Sidebar - Notifications **/
notification {
    background: #2a2a2abd;
    display: grid;
    grid-template-columns: 30px auto;
    border-radius: 4px;
    padding: 0px 10px;
    margin-bottom: 12px;
    height: fit-content;
}
notification i {
    align-self: center;
}
notification .header {
    display: inherit !important;
    margin: 0px !important;
}
sidebar notification .header i {
    align-self: center;
    font-size: 16px;
}
notification .header h1 {
    font-size: 14px;
    margin: 10px 0px -10px 10px;
}
.tabs#notifications {
    overflow: scroll;
    display: block;
}
.actions {
    text-align-last: start;
    padding: 10px 0px;
}
.actions button {
    color: white;
    background: transparent;
    padding: 8px 10px;
    margin-bottom: 0px;
    border: none;
}
.actions button:hover {
    text-decoration: underline;
}

/* Content */
content {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 250px);
}

cdemo {
    position: fixed;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}

/* Notifications - Large */
notification#large {
    position: fixed;
    top: 50%;
    left: 50%;
    height: calc(100% - 90px);
    width: calc(100% - 600px);
    background: rgb(34 34 34 / 95%);
    z-index: 10;
    transform: translate(-50%, -50%);
}
.notification-header-update {
    width: calc(100% - 40px);
    position: absolute;
    display: grid;
    grid-template-columns: 50px auto auto;
    grid-gap: 30px;
    margin: 10px 20px 20px 20px;
    font-size: 12px;
    line-height: 10px;
    align-items: center;
}
.notification-header-update button {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.notification-header-update img {
    width: 60px;
}
.notification-header-update h2 {
    font-weight: normal;
}
.notification-content {
    position: absolute;
    margin: 20px;
    top: 80px;
    font-size: smaller;
    overflow: scroll;
    height: calc(100% - 85px);
}
.notification-content a {
    color: var(--accent);
}
.notification-content img {
    width: 100%;
    border-radius: 7px;
    margin-top: 20px;
}
notification#dismiss {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(12 12 12 / 75%);
}

/* Dashboard */
span#username {
    color: var(--accent);
    text-decoration: underline;
}
dashboard {
    position: absolute;
    top: 0px;
    left: 25px;
    width: 100%;
}
.welcome {
    margin: 0px 20px 10px -25px;
    padding: 14px 25px;
}
dashboard h1 {
    font-size: 24px;
    margin: 0px;
}
webview#glace-servers {
    height: 160px;
}

/* Controls */
controls {
    position: absolute;
    right: 0px;
    margin: -23px 0px 0px 0px;
    padding-right: 4px;
}
controls button {
    width: 30px;
    color: white;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
}
controls button:hover {
    background: rgb(255 255 255 / 10%);
}

button#blogBack {display: none;}

/* Blog */
.posts {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px;
    transition: 0.7s opacity, 0.7s transform;
}

.post {
    background: rgb(255 255 255 / 8%);
    border: 2px #363636 solid;
    cursor: pointer;
}
.post:hover {
    filter: brightness(1.2)
}
.post img {
    width: 100%;
}

.metadata {
    padding: 0px 20px;
}
.metadata-left {
    display: grid;
    grid-template-rows: 40px 45px 130px 60px;
}
.metadata-text {
    display: block;
    height: min-content !important;
    line-height: 20px;
}
.metadata-text h1, .metadata-text button, .metadata-text h2, .metadata-text blockquote {
    display: none;
}
.metadata-left h1 {
    font-size: 16px;
}
.metadata-text p {
    margin: 0px;
    padding: 0px;
}

p#category {
    background: #363636;
    width: fit-content;
    padding: 6px 10px;
    border-radius: 3px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
}
p#date {
    font-size: 12px;
    opacity: 0.4;
    font-weight: bold;
}

.metadata-right {
    text-align: right;
    margin-top: -48px;
    margin-bottom: 16px;
}
.post-dropdown button {
    font-size: 0px;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
.post-dropdown button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.post-dropdown i {
    font-size: 14px;
    color: white;
}

webview#article-viewer {
    position: absolute;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1.2s opacity, 1.2s right;
}