ninja-keys {
    --ninja-backdrop-filter: none !important;
    --ninja-overflow-background: rgb(50 50 50 / 94%) !important;
    --ninja-text-color: #7d7d7d !important;
    --ninja-modal-background: rgba(17, 17, 17, 0.85) !important;
    --ninja-accent-color: rgb(110, 94, 210) !important;
    --ninja-secondary-background-color: rgba(51, 51, 51, 0.44) !important;
    --ninja-secondary-text-color: #888 !important;
    --ninja-selected-text-color: #eaeaea !important;
    --ninja-selected-background: rgba(51, 51, 51, 0.44) !important;
    --ninja-icon-color: var(--ninja-secondary-text-color) !important;
    --ninja-separate-border: 1px solid var(--ninja-secondary-background-color) !important;
    --ninja-modal-shadow: 0 16px 70px rgba(0, 0, 0, 0.2) !important;
    --ninja-group-text-color: rgb(144, 149, 157) !important;
    --ninja-footer-background: rgba(30, 30, 30, 85%) !important;
    --ninja-icon-size: 16px !important;
}
