button#wvDev {display: initial;}
div#techincal-details {display: initial;}
span#toggle-dm-cm::before {
    content: "";
    position: absolute;
    background: var(--accent);
    width: 15px;
    height: 15px;
    margin: -34px 0px 0px 5px;
    border-radius: 4px;
}
span#dm-toggle-play_off {
    background: transparent;
    width: 200px;
    height: 30px;
    position: absolute;
    margin: -7px 0px 0px 0px;
    z-index: 5;
    cursor: pointer;
    display: initial !important;
}
span#dm-toggle-play_on {
    background: transparent;
    width: 200px;
    height: 30px;
    position: absolute;
    margin: -7px 0px 0px 0px;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.controls {left: 63px;}
div#client_panel_CC {left: 88px;}